Flow2.json
[{"id":"2438afab.7f1a1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fc8f7b95.cd33b8","type":"http in","z":"2438afab.7f1a1","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["ca81e8e3.fdb808","67cf083b.1ecfe8"]]},{"id":"ca81e8e3.fdb808","type":"function","z":"2438afab.7f1a1","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["2fe49e08.df0172"]]},{"id":"2fe49e08.df0172","type":"rpi-gpio out","z":"2438afab.7f1a1","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":500,"y":460,"wires":[]},{"id":"67cf083b.1ecfe8","type":"function","z":"2438afab.7f1a1","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["dbf9a8c5.46a688","e89c018c.20072"]]},{"id":"dbf9a8c5.46a688","type":"debug","z":"2438afab.7f1a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":540,"wires":[]},{"id":"e89c018c.20072","type":"http response","z":"2438afab.7f1a1","name":"","statusCode":"","headers":{},"x":770,"y":280,"wires":[]},{"id":"a65540f1.32947","type":"http in","z":"2438afab.7f1a1","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":560,"wires":[["a6d7f2c4.e66c6","bac09962.47eeb8"]]},{"id":"a6d7f2c4.e66c6","type":"function","z":"2438afab.7f1a1","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":540,"wires":[["2fe49e08.df0172"]]},{"id":"bac09962.47eeb8","type":"function","z":"2438afab.7f1a1","name":"Return Status","func":"msg.payload = \" GPIO5 set to LOW \";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["dbf9a8c5.46a688","e89c018c.20072"]]}]